<header>
  <div class="nav-container">
    <h1 class="title-pag">Campus Code: ESEN</h1>
    <button class="menu-toggle" id="menu-toggle">☰</button>
  </div>

  <nav id="navbar">
    <ul class="nav-links" id="nav-links">
      <li><a href="/FinalProject/index.html">Home</a></li>
      <li><a href="/FinalProject/pages/essentials.html">Essentials</a></li>
      <li><a href="/FinalProject/pages/secretServices.html">Secret Services</a></li>
      <li><a href="/FinalProject/pages/survivalTips.html">Survival Tips</a></li>
      <li><a href="/FinalProject/pages/campusLife.html">Campus Life</a></li>
      <li><a href="/FinalProject/pages/faq.html">FAQs</a></li>
      <li><a href="/FinalProject/pages/studentStories.html">Student Stories</a></li>
      <li><a href="/FinalProject/pages/contacts.html">Contacts</a></li>
    </ul>
  </nav>
</header>